@font-face {
  font-family: "Coolvetica";
  src: url("Coolvetica.ttf") format("ttf"),
}
body{
  background: #D80101;
  color:white;
  font-size: 50px;
  font-family: 'Coolvetica';
  text-align: center;
}

.msg{
  position: relative;
  top : 50%;
  width : 100%;
}

.msg1{
  display: inline;
}

.msg2{
  display: inline;
  font-size: 25px;
}
