h1
{
  #color : white;
  #font-family : "Arial Black";
  #text-align: center;
}

body
{
  color : white;
  font-family : "Arial Black";
  text-align: center;
  background : #FF9C2A;
}

a{
  position:absolute;
  float: left;
  left:10px;
}
